<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <img src="./img/csumbfooter.png" alt="csumb logo">
        <p><span class="text-muted">ArgoVenture. &copy; 2024. Garcia, Hamid, Karaki, Reis.</span></p>
        <p></p><span class="text-muted"><a href="https://github.com/Sirraff/ArgoVenture">Check our Github!</a></span></p>
    </div>
</footer>
