<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<div class="container mt-5">
    <h2>Add or Update Your Project</h2>
    <form action="/add-project" method="post" class="mt-4">
        <div class="mb-3">
            <label for="projectName" class="form-label">Project Name:</label>
            <input type="text" class="form-control" id="projectName" name="projectName" required>
        </div>
        <div class="mb-3">
            <label for="projectDescription" class="form-label">Project Description:</label>
            <textarea class="form-control" id="projectDescription" name="projectDescription" required rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="githubRepo" class="form-label">GitHub Repository (optional):</label>
            <input type="url" class="form-control" id="githubRepo" name="githubRepo" placeholder="https://github.com/username/repo">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>
<script src="/js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
