<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab 1 Team Portfolio:</title>
    <%- include("partials/header.ejs") %> <!-- Ensure Bootstrap CSS is included -->
</head>
<body class="bg-light">
    <%- include("partials/nav.ejs") %>
    <div class="container mt-5">
        <h1 class="mb-4">Team 13</h1>
        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <img src="/img/raf.jpg" alt="Picture of Rafael" class="img-fluid rounded-circle profile-pic">
                <div class="profile-info">
                    <h3>Rafael Reis</h3>
                    <p class="email">rlimadesouzareis@csumb.edu</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/img/moe.jpg" alt="Picture of Moe" class="img-fluid rounded-circle profile-pic">
                <div class="profile-info">
                    <h3>Mohamed Karaki</h3>
                    <p class="email">mkaraki@csumb.edu</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/img/rayanhamid.jpg" alt="Picture of Rayan" class="img-fluid rounded-circle profile-pic">
                <div class="profile-info">
                    <h3>Rayan Hamid</h3>
                    <p class="email">rayhamid@csumb.edu</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <img src="/img/michael.jpg" alt="Picture of Michael" class="img-fluid rounded-circle profile-pic">
                <div class="profile-info">
                    <h3>Michael Garcia</h3>
                    <p class="email">michagarcia@csumb.edu</p>
                </div>
            </div>
        </div>
        <p class="lead">
            Hello! Thank you for visiting our website. We are a team of internet programmers with a goal to make managing your projects easier, all through ArgoVenture! Feel free to contact us for any questions or concerns, your feedback means a lot to us.
        </p>
    </div>

    <footer class="container mt-4">
        <%- include("partials/footer.ejs") %>
    </footer>
    <div id="themeToggle" style="position: fixed; bottom: 20px; right: 20px;">
        <button class="btn btn-sm btn-outline-secondary" id="toggleTheme">Dark Mode</button>
    </div>
    <script src="/js/auth.js" type="module"></script>
    <script src="/js/theme.js"></script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
