body.bg-light {
    background-color: #f8f9fa;
    color: #212529;
}

body.bg-dark {
    background-color: #343a40;
    color: #f8f9fa;
}

/* Default light mode colors */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
}

/* Dark mode specific colors */
body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #fff; /* Change to a light color suitable for dark backgrounds */
}

/* You might also need to handle the navbar background if it doesn't already switch */
body.dark-mode .navbar-light {
    background-color: #343a40; /* Dark background for the navbar */
}
